# NEVER add your api config info to the git repo
apiconfig.json

.DS_Store
.COOKIES
__pycache__
*.pyc
*.egg-info

# SublimeText workspace files
*.sublime-workspace

# no npm

node_modules/
*/node_modules/

# don't include the built binary

server/server.exe

# Local stuff
.bash_history
.COOKIES